<h2>Detail</h2>

<div *ngIf="patient; else patientNotFound">

  <b>Average height of patients heavier than average weight: </b><p>{{patient.heightAverage}}</p>
  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text" id="nameLabel">Name</span>
    </div>
    <input type="text" readonly class="form-control" aria-label="Name" aria-describedby="nameLabel" [(ngModel)]="patient.name">
  </div>
  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text" id="surnameLabel">Surname</span>
    </div>
    <input type="text" readonly class="form-control" aria-label="Surname" aria-describedby="surnameLabel" [(ngModel)]="patient.surname">
  </div>
  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text" id="heightLabel">Height</span>
    </div>
    <input type="text" readonly class="form-control" aria-label="Height" aria-describedby="heightLabel" [(ngModel)]="patient.height">
  </div>
  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text" id="weightLabel">Weight</span>
    </div>
    <input type="text" readonly class="form-control" aria-label="Weight" aria-describedby="weightLabel" [(ngModel)]="patient.weight">
  </div>
  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text" id="birthDateLabel">DateOfBirth</span>
    </div>
    <input type="text" readonly class="form-control" aria-label="DateOfBirth" aria-describedby="birthDateLabel" [ngModel]="patient.dateOfBirth | date:'dd.MM.yyyy'" (ngModelChange)="patient.dateOfBirth=$event">
  </div>
  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text" id="ageLabel">Age</span>
    </div>
    <input type="text" readonly class="form-control" aria-label="Age" aria-describedby="ageLabel" [(ngModel)]="patient.age">
  </div>
</div>

<ng-template #patientNotFound>
  <p>Detail page is empty - patient with provided ID does not exist.</p>
</ng-template>

<div>
  <a [routerLink]='["/patients"]'>Back</a>
</div>
