<h2>Detail</h2>

<div *ngIf="patient; else patientNotFound">

  <b>Average height of patients heavier than average weight: </b><p>{{patient.heightAverage}}</p>
  <form>
    <div class="form-group row">
      <label for="patientName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" name="name" id="patientName" [(ngModel)]="patient.name">
      </div>
    </div>
    <div class="form-group row">
      <label for="patientSurname" class="col-sm-2 col-form-label">Surname</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" name="surname" id="patientSurname" [(ngModel)]="patient.surname">
      </div>
    </div>
    <div class="form-group row">
      <label for="patientHeight" class="col-sm-2 col-form-label">Height</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" name="height" id="patientHeight" [(ngModel)]="patient.height">
      </div>
    </div>
    <div class="form-group row">
      <label for="patientWeight" class="col-sm-2 col-form-label">Weight</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" name="weight" id="patientWeight" [(ngModel)]="patient.weight">
      </div>
    </div>
    <div class="form-group row">
      <label for="patientBirthDate" class="col-sm-2 col-form-label">Date of birth</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" name="birth" id="patientBirthDate" [ngModel]="patient.dateOfBirth | date:'dd.MM.yyyy'" (ngModelChange)="patient.dateOfBirth=$event">
      </div>
    </div>
    <div class="form-group row">
      <label for="patientAge" class="col-sm-2 col-form-label">Age</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" name="age" id="patientAge" [(ngModel)]="patient.age">
      </div>
    </div>
  </form>
</div>

<ng-template #patientNotFound>
  <p>Detail page is empty - patient with provided ID does not exist.</p>
</ng-template>

<div>
  <a [routerLink]='["/"]'>Back</a>
</div>
